/* CSS VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
:root {
  --white: #FFF;
  --blue: #00296b;
  --blue2: #003f88;
  --blue3: #00509d;
  --yellow:	#fdc500;
  --yellow2: #ffd500;
  --yellow3: #ffdb57;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Source Serif Pro', serif;
  box-sizing: border-box;
  line-height: 1.4;
  scroll-behavior: smooth;
  overflow-x: clip;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

img {
  max-width: 100%;
}

h1, h2, h4 {
    margin: 0;
}

/* HEADER */
header {
    background-color: var(--blue);
    color: var(--yellow2);
    /* position: fixed; */
    z-index: 10;
    top: 0;
    font-family: 'Source Sans Pro', 'sans-serif';
    width: 100%;
    /* transition: all 1.5s ease;   */
  }

  header .wrapper{
    padding: 10px 0;
    transition: all 0.3s ease;
  }
  
  .mainLogo {
    width: 110%;
    z-index: 1;
    background-color: var(--blue2);
    box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.65);
    
  }

  .mainLogo a{
    color: var(--white);
    text-decoration: none;
  }

  #mob_hb {display: none;}
  
  .sub-nav {
    color: var(--yellow2);
    text-align: right;
    /* padding: 5px 10px; */
    margin: 10px;
    transition: all 0.3s;
    
  }
  
  .sub-nav a {
    color: var(--white);
    text-decoration: none;
    /* padding: 10px; */
    text-align: left;
    /* font-weight:600; */
  }
  
  .sub-nav a:hover {
    color: var(--yellow);
    font-weight: bold;
    /* text-decoration: underline; */
  }

  .sub-nav div{
    font-family: 'Source Sans Pro', 'sans-serif';
      float: right;
  }


  input{
      border: 0;
      background-color: var(--white);
      padding: 8px;
      font-family: 'Source Sans Pro', 'sans-serif';
      font-weight: bold;
      font-size: 100%;
      color: var(--blue);
  }

  input::placeholder{ 
    color: var(--blue3);
  }

  input:focus{
      outline: 0;
  }

  .sub-nav button{
    padding: 8px 15px;
    background-color: var(--yellow2);
    color: var(--blue);
    font-weight: bold;
    /* margin-right: 20px; */
    font-size: 98%;
    box-shadow:2px 2px 2px 2 rgba(0,0,0,0.95); 
  }

  #menu {
    display: none;
    position: absolute;
    background-color: #222;
    color: var(--white);
    width: 193px;
    /* padding: 10px 5px; */
    z-index: 1;
    text-align: center;
    box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.95);
    animation:  growDown 200ms ease;
    transform-origin: top center;
 }

 #menu a{
     display: block;
     padding: 5px 0;
     margin: 0 10px;
     text-align: center;
    /* color: var(--light); */
    border-bottom: 1px solid rgba(255, 255, 255, 0.548);
 }

 #menu a:hover{
     background-color: var(--yellow2);
     color: var(--blue);
 }

 .main-nav {
  background-color: var(--white);
  color: var(--blue);
  /* margin-top: -7em; */
  border-bottom: 2px solid var(--yellow);
}

.bar .icon {
  display: none;
}

.bar {
  /* transition: all 0.5s; */
  width: 80%;
  margin-left: 10%;
 /* align-items: center; */
  display: grid;
  grid-template-columns: repeat(7,auto);
  text-decoration: none;
  font-weight: bold;
  overflow: hidden;
}

.main-nav a{
  color: var(--blue) !important;

}

.main-nav a:hover {
  text-underline-offset: 5px; 
}

  .dropdown {
  padding: 10px;
  }

  .dropdown:hover {background-color: var(--yellow3); width: fit-content;}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    color: var(--blue3);
    margin-top: 10px; 
    right: 15vw;
    width: 65vw;
    box-shadow: 0px 0px 16px 2px rgba(255, 255, 255, 0.2);
    z-index: 1;
    outline: 2px outset white;
    padding: 0 10px;
    animation:  growDown 200ms ease-in-out forwards;
    transform-origin: top center;
  } 

  @keyframes growDown {
    0% { transform: scaleY(0) }
    100% { transform: scaleY(1) }
}

  .dropdown-content h4{
    background-color: var(--blue);
    color: var(--white); 
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .dropdown-content a {
    text-decoration: none;
    display: block;
    margin-top: -10px;
    padding: 10px 5px;  
  }

  .dropdown-content a:hover {
    text-decoration: underline;
    background-color: var(--yellow3);
  }

  .dropdown-content div:first-child{
    padding-right: 5px;
  }
  
  .dropdown:hover .dropdown-content {display: grid; }


/* MAIN CONTAINER */

/* .main-container { background: linear-gradient(135deg, rgba(253,197,0,1) 4%, rgba(255,213,0,1) 34%);} */

.reveal{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.now{
  transform: translateY(0);
  opacity: 1;
}

button{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  color: var(--blue);
  background-color: var(--yellow2);
}

button a{
text-decoration: none;
color: var(--dark);
}

/* LINKS */
.link {
  background-color: #222;
  font-size: 90%;
  padding: 30px 10px;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--white);
}

.link ul {
  list-style: "\â¯  ";
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  padding-bottom: 10px;
}

.link li{
  padding: 5px 0;
}

.link a {
  color: var(--yellow3);
  text-decoration: none;
  
}

.link a:hover {
  color: var(--white);
  text-decoration: underline;
  text-underline-offset: 5px; 
}

.logos a{
  color: var(--white);
  padding: 5px;
  font-size: 85%;
}


/* FOOTER */
footer {
    /* display: inline; */
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: 90%;
    margin: -15px 0;
    color: var(--white);
    padding: 15px;
  text-align: center;
  background-color: black;
}


/* MEDIA QUERIES */

@media(min-width:1600px) {
  .wrapper { width: 70%; }
  body {font-size: 115%;}
  .bar {width: 70%; margin-left: 15%; }
  .dropdown-content { width: 70%;}
  .grid div {min-height: 250px;}
  .grid { grid-template-columns: 1.5fr 2fr;}
  /* header h3{ font-size: 120% !important; } */
}

@media(min-width:981px) and (max-width: 1280px) {
  .slides {height: 65%;}
  .tab2 { grid-template-columns: 1fr 2.5fr;}
  header h3 {font-size: 110% !important;}
  .dropdown-content {right: 14vw;}
  .grid { grid-template-columns: 1.3fr 2fr;}
}

@media(max-width: 980px) {

  .mainLogo{ width:150% }
  /* .sub-nav{ margin-left: 15%; display: inline-block;} */
  .wrapper{width: 90%;}
  .main-nav{ width: 100%; margin-top: 0px; }
  nav div{ margin-bottom: 10px; }

  .bar {
    width: 90%;
    margin: 0 auto;
  }
  .bar a{
    /* width: fit-content; */
    margin: 0;
  }
  .box button{
    padding: 10px;
}

  .slides{height: 50%;}

  .buttons .svg-inline--fa{
    font-size: 40px !important;
  }

  .buttons a{
    font-size: 80%;
    width: 100px;
    height: 100px;
  }

  .about .wrapper{
    font-size: 85% !important;
    padding: 60px 0;
  }

  #mirror{
    width: 200px !important;
  }
/* 
  iframe{
    width: 380px !important;
    height: 203px;
  } */
  .grid{
    grid-template-columns: 1fr 1fr;
  }

}

@media(max-width: 720px) {
  #menu{
    margin: 0 -10px!important;
  }
  header .wrapper{ width: 100%;}

  .mainLogo{ width:175% }
  /* .sub-nav{ margin-left: 25%; } */
  
  #click{ margin: 0 -10px; }

  .bar { text-align: center;}
  /* .dropdown-content{ width: 80%; right: 5%;} */

  .notice .wrapper{
    grid-template-columns: auto;
  }
  .box { margin: 10px 0; }
  .box button {
    padding: 10px 30px;
  }

  .buttons {
    grid-template-columns: auto auto auto;
      margin: -50px auto -104px auto;
  }

  .grid{
    grid-template-columns: 1fr;
  }
  .grid a{ margin: 5px 10px;}
  /* .grid h4 { text-align: ;} */

  #gallery{
    height: 250px;
  }
  .link .wrapper {
    width: 90%;
    grid-template-columns: auto auto auto;
  }
  .link .wrapper div:first-child {
   /* width: 100%; */
   grid-column: 1/4;  
 }
 iframe{height: 300px;}
 
 .link ul~div{
   margin: 0;
 }
  footer { padding: 20px 50px; }
}

@media(max-width: 560px) {

  /* #hb {display: none !important;}
#mob_hb {display: block !important; text-align: center; border-bottom: 1px solid var(--blue);} */
/* #mob_hb #menu a {text-decoration: none; color: var(--white) !important; margin: 5px 0 !important; background-color: var(--blue3);} */
  .subLogo img{ width: 80px !important; height: 80px !important;}
.slides{
  image-rendering: optimizeQuality;
}
  #menu{
    margin: 0!important;
    width: 185px;
  }

  #chart {
    width: 100%;
  }

  body{
    font-size: 90%;
  }
  .subLogo { padding: 0 10px 10px 10px; margin: 0 auto !important;}
  .subLogo h3 {text-align: center;}
  .mainLogo{
    position: static;
    width: 100%;
    box-shadow: none;
  }
  /* #head { position: static !important; margin-bottom: 0 !important;} */
  #fix { position: static;}
  #fix>a {margin: auto !important;}
  header nav { grid-template-columns: 1fr !important;}
  header nav a { margin: 0 5px !important;}
  header nav>div{ padding: 5px 0;  margin: auto !important; }
  .sub-nav{text-align: center; margin: 5px 10px}
  .sub-nav div {
    margin: 10px;
    float: none;
  }
  /* .sub-nav div:first-child {padding-top: 10px;} */
  .sub-nav div>div {width: 60vw !important; margin: 5px auto !important;}
  .sub-nav div>div:last-child {width: 80vw !important; margin-top: 10px !important;}
  .sub-nav>a {width: auto !important;}
  .search {width:50vw;}
  #click{ margin: 0; width: 60vw;}
  #click svg { padding-left: 30vw !important;}
  #login button {width:60vw;}
/* #input {width: 100% !important} */
#menu {width:60vw !important}

  button {padding: 10px 5px;}

  .about .wrapper{ padding: 20px 0; }
  .bar a {margin:-10px 0 !important;}
  .bar {padding: 20px; }
  .bar span  {display: none; background-color: var(--yellow3);}
  .bar span:first-child  { background-color: var(--white); margin-top: 10px;}
  .bar a.icon {
    position: absolute;
    right: 15;
    margin-top: -20px;
    /* padding: 10px; */
    display: block;
    color: var(--blue);
  }

  .bar a.icon:focus {background-color: var(--yellow);  }

  .bar.responsive {
    position: relative;
    max-height: 80vh;
    overflow: auto;
    grid-template-columns: auto;
    text-align: left;
    }
  .bar.responsive .icon {
    position: absolute;
    right: 15;
    top: 20;
    margin-bottom: 10px !important;
  }

  .bar.responsive .icon::before { content: "CLOSE  " !important;}
  .bar.responsive span {
    float: none;
    display: block;
    position: static; 
    grid-template-columns: auto auto !important;
    /* width: 95%; */
  /* margin-left: -5px;   */
    /* margin: 5px -5px 5px 0; */
  }

  .bar.responsive span > span {
    float: none;
    display: none;
 margin: auto;
    font-weight: normal;
    border-bottom: 1px solid;
    background-color: var(--white);
  }

  .bar.responsive a { margin: -10px 0 !important; width: auto; font-weight: bold; }
  .bar.responsive a:last-child {margin-bottom: 5px !important;}

  .bar.responsive span > span > div > div {grid-template-columns: auto !important;}

  .main-nav{
    width: 100%;
  }

  .box button{
    padding: 10px 15px;
  }
  .tab {
    grid-template-columns: 1fr 3fr;
  }
  /* iframe{
    height: 100%z;
  } */
  /* input{
    width: 35vw;
  } */

  .grid h3 {margin: 5% !important}
}

@media(max-width: 480px) {
  /* input{
    width: 34vw;
  } */
  .slides{
    height: 35%;
 }
}

@media(max-width: 400px) {
/* 
  input{
    width: 145px;
  } */
  .sub-nav {
    text-align: center;
    /* margin: auto !important; */
  }


.dropdown-content div {
  margin: 0px;
}
.dropdown-content h4 {
  margin-top: 10px;
}

.bar.responsive{ text-align: center; }
.bar.responsive a { width: auto; text-align: left;}
.bar.responsive span {
  /* width: 100%; */
  margin-left: -5px;
  grid-template-columns: auto !important;
}

.link .wrapper{ margin-left: -15px; }

.search {width:45vw}
#click svg { padding-left: 25vw !important;}
}


@media(max-width: 320px) {
  #click svg { padding-left: 20vw !important;}
  .box button{
    width: 100%;
  }

  .buttons .svg-inline--fa{
    font-size: 30px !important;
  }

  .buttons a{
    font-size: 70%;
    width: 80px;
    height: 90px;
  }
}