@import url(common.css);

a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}
/* .wrapper{ color: var(--primary);} */
.main-container{ line-height: 1.2; }
.main-container>div { padding: 30px 0;}

h1, h2, h3 { font-family: 'Source Sans Pro', sans-serif;}
h2 {text-align: center; color: var(--blue2);}
p {
    color:  black;
    text-align: justify;
    /* padding-right: 10px; */
}


.first {
    text-align: center;
    font-size: 120%;
    color: var(--blue);
    background-color: var(--yellow2);
    padding: 10px 0  !important;
    padding-bottom: 60px !important;
    /* background-image: url("assets/images/yel\ bg.webp");
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top; */
}

.first .wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

.first h1 {margin: auto;}

#chart {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    font-family: 'Source Sans Pro', sans-serif;
  }
  #chart a{ padding: 10px 5px; text-decoration: none; color: var(--blue);}
  #chart a:hover { color: var(--blue3); text-decoration: underline;}
  
  #chart svg {
    font-size: 170%;
    padding: 10px;
  }
  
  #chart p {margin: 0; 
    text-align: center;}

.second {
    border-bottom: 1px solid var(--blue);
    margin-top: -5px;
    scroll-margin-top: 30vh !important;
    /* background-image: url(assets/images/yel\ bg.webp); */
    /* padding-bottom: 70px; */
}

.second .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr ;
    margin-top: -70px;
}

.second .wrapper div { border-radius: 1px; border-top: 2px solid var(--blue3); background-color: var(--white); padding: 5px 20px;}

.third{
    text-align: center;
    padding: 20px 0;
    line-height: 1.1;
    
    background-image: url(assets/images/white\ bg.webp);
    background-size: cover;
    scroll-margin-top: 30vh !important;
    
    /* border-bottom: 1px solid var(--blue); */
    
    /* background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top; */
    /* position: relative;
    margin: -50px auto -270px auto; */
}

.third .wrapper {
    padding: 5px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    /* width: fit-content; */
}

.third .wrapper div {
    background-color: var(--white);
    /* outline: 2px outset var(--yellow); */
    /* box-shadow: 0px 2px 4px 0px #0000004b;  */
    position: relative;
    box-shadow: 4px 4px 4px 0px #00000040; 
}


.third img{
    /* width: 13vw; */
    height: 250px;
    position: static;
    position: relative;
    margin-top: -30px;
    margin-bottom: 25px;
    border-radius: 2px;
    /* box-shadow: 2px 2px 4px 1px #023d8a85; */
    object-fit: cover;
    object-position: top;
}
.third h3 {
    background-color: var(--blue);
    color: var(--white);
    margin:0;
    padding: 10px 0 40px 0; 
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 110%;
}
.third h4 {
    background-color: #ffdb57f3;    
    z-index: 2;
    position: absolute;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.fourth { padding: 50px 0 !important;
    scroll-margin-top: 30vh !important;}
/* .fourth h2 { color: var(--white);} */

.fourth .grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
margin-bottom: 10px;
width: 100%;
}

.fourth button {
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    outline: 2px outset var(--yellow3);
}

.fourth button:hover {
    background-color: var(--blue3);
    outline: 2px outset var(--blue3);
  color: var(--white);
}

.collapsible {
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  /* outline: 3px outset var(--yellow); */
  background-color: var(--blue3);
  outline: 2px outset var(--blue3) !important;
  color: var(--white);
  font-weight: normal;
}

/* .grid>div:nth-child(odd)>.collapsible, .grid>div:nth-child(even)>.collapsible:hover {
    background-color: var(--yellow);
    outline: 2px outset var(--yellow);
    color: var(--blue);
}
.grid>div:nth-child(even)>.collapsible, .grid>div:nth-child(odd)>.collapsible:hover {
    background-color: var(--blue2);
    outline: 2px outset var(--blue3);
    color: var(--white);
} */

.content a{
  padding: 5px 15px;
  display: block;
}

.active, .collapsible:hover {
    background-color: var(--yellow) !important;
    outline: 2px outset var(--yellow3) !important;
    color: var(--blue) !important;
}
.active + .content {padding: 5px 0; 
  outline: 2px inset var(--blue3); 
  margin-top: 3px;
/* background-color: var(--white);
color: var(--blue); */
}
  
.content {
  overflow: hidden;
  max-height: 0;    
  transition: max-height 0.2s ease-out;
}
.collapsible:after {
  content: '\02795'; 
  font-size: 13px;
  float: right;
  /* margin-left: 5px; */
}

.active:after {
  content: "\2796"; 
}
.box{
  box-shadow: 0px 0px 4px 0px var(--blue);
  padding: 10px;
  /* height: auto; */
}

dialog {
    border: none;
    width: 70%;
    /* height: 50%; */
    text-align: justify;
    font-size: 90%;
    position: fixed;
    background-color: var(--white);
    border: 10px outset var(--blue3);
    /* padding: 0px; */
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.459)
}

dialog span {
    position: sticky;
    top: 0;
    display: flex;
    grid-template-columns: 3fr 1fr; 
    width: 100%;
}
dialog div{
    margin-top: 10px;
    padding: 0 10px;
}

dialog h3 {
    padding: 10px;
    margin: 0;
    text-align: center;
    color: var(--yellow3);
    background-color: var(--blue);

}

dialog a:nth-child(even) {
    background-color: var(--yellow3);
}
dialog a:nth-child(odd) {
    background-color: var(--white);
}

.link {margin-top: 10px;}


#goUp {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    outline: 2px outset var(--yellow2); 
  }
  
  #goUp:hover {
    background-color: var(--blue); 
    color: var(--white);
    outline: 2px outset var(--blue2); 
  }


@media(max-width: 560px) {
    
    .first .wrapper { padding-top:30px;
        grid-template-columns: auto; }

    .second .wrapper{ grid-template-columns: auto; }
    .second .wrapper div {margin: 0 !important;}

.third .wrapper{
    grid-template-columns: auto;
    width: 80vw;  
}

dialog {
    width: 80%;
    height: 80%;
    overflow: auto;
}
.fourth .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
    }
    /* .content {display: none;} */
}   